/*GENERAL*/
.debug{
  background-color: rgba(253, 0, 0, 0.5);
  min-height: 50px;
  border: 1px solid black;
}

/*HEADER*/
header{
  background-color: #FFFFFF;
  padding: 15px 0;
}

/*NAV*/
nav input{
  width: 100%;
}

button i{
  border-style: none;
}