/*GENERAL*/
.debug{
  background-color: rgba(253, 0, 0, 0.5);
  min-height: 50px;
  border: 1px solid black;
}

/*HEADER*/
header{
  background-color: #FFFFFF;
  padding: 15px 0;
}

/*NAV*/
nav input{
  width: 100%;
  background-color: #E5E5E5;
  border-style: none;
  padding:4px;
}

button{
  border-style: none;
  background-color: #E5E5E5;
}

.fa-bell{
  color:#FF8F00;
}