/*GENERAL*/
.debug{
  background-color: rgba(253, 0, 0, 0.5);
  min-height: 50px;
  border: 1px solid black;
}

a{
  text-decoration: none;
  color: white;
}

/*HEADER*/
header{
  background-color: #FFFFFF;
  padding: 15px 0;
}


/*NAV*/
nav input{
  width: 100%;
  background-color: #E5E5E5;
  border-style: none;
  padding:4px;
}

button{
  border-style: none;
  background-color: #E5E5E5;
}

.sg-icon a{
  color: #5A5757;
}

.sg-icon{
  padding: 0 10px;
}

.fa-bell{
  color:#FF8F00;
}

/*MAIN*/

/*ASIDE*/
aside{
  background-color: #132940;
}

aside a{
  padding: 10px 5px;
}

/*MAIN-RIGHT*/
.main-right .row.top{
  background-color: #1B72E8;
}

.main-right .students span{
  background-color:#165BBA ;
  padding:5px 10px;
  border-radius: 15px;
}

.fa-regular.fa-plus{
  border: 1px solid white;
  font-size: 15px;
  padding: 12px 15px;
  vertical-align: middle;
  margin:5px 25px;
  border-radius: 5px;
}
